{
    "printers" : [ {"api"   : "Octoprint API key",
                    "bootup": true,
                    "name"  : "Printer Name",
                    "event" : "Octoprint_job_state",
                    "coreid": "ID of the Particle",
                    "url"   : "Octoprint URL" } 
    ],
    "cloud_session" : {  "debug"     : true,
                         "user"      : "particle user name",
                         "pass"      : "particle password" },
    "button_settings" : { "dim"        : "* 19 * * *",
                          "dim_led"    : 64,
                          "bright"     : "* 7 * * 1-5",
                          "bright_led" : 128},
}